html{
    margin: 0 !important;
    font-family: $font__main-content;
    
}
.site__header{

    grid-area : header;
    

}

.home::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon();
    background-color: $color__background-body;
    z-index: -1;


}

.site__barre{
    grid-area : barre;
    background-color: $color__background-barre;
}

.site__main{
    grid-area : main;
    background-color: $color__background-main;
    
}

.site__footer{

    grid-area : footer;

}
//mobile
.site {
    height: 100%;
   background-color: $color__background-body ;
   gap : 10px;
   display: grid;
   grid-template-columns:  auto;
   grid-template-areas:
       "barre"
       "header"
       "main"
       "footer";
}

//tablette
@media screen and (min-width: $largeur__media-tablette){
.site {
   grid-template-columns: ($size__site-sidebar) auto;
   grid-template-areas:
       "header header"
       "barre main"
       "footer footer";
}

.home{
    height: 100%;
    background-color: $color__background-body ;
    gap : 10px;
    display: grid;
    grid-template-columns:  auto;
    grid-template-areas:
        "barre"
        "header"
        "main"
        "footer";
}

}
//Fin media query tablette

