$color__background-body: rgb(236, 236, 236);
$color__background-header:  rgb(209, 207, 197);
$color__background-footer:  rgb(20, 20, 20);
$color__background-main:  rgb(236, 236, 236);
$color__background-barre:  rgb(189, 189, 189);
$color__background-404: rgb(0, 0, 0);
// liens
$color__link: rgb(30, 43, 155); //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$background_link-hover:   rgb(255, 255, 255);


//liens footer
$color__link__footer:  rgb(30, 43, 155); 
$color__link__footer-visited: rgb(189, 189, 189);
$color__link__footer-hover: rgb(255, 255, 255);


//liens nav 
$color__link__nav: rgb(0, 0, 0);
$color__link__nav-visited: rgb(27, 21, 109);
$color__link__nav-hover: rgb(102, 102, 102);
