/******************** LAYOUT GENERAL ************************/

$largeur__media-tablette: 600px;
$largeur__media-desktop: 1000px;

/******************** LAYOUT MEDI QUERY ************************/

$size__site-sidebar: 300px;