$font__header-h1: 'Poppins', sans-serif;
$font__header-h2: 'Trebuchet MS', sans-serif;
$font__navigation-a: 'Trebuchet MS', sans-serif;
$font__main-content: 'Oxygen', sans-serif;
$font__liste: 'Trebuchet MS', sans-serif;
