.site__header{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    @media screen and (min-width: $largeur__media-tablette){
        flex-direction: row;
        margin-left: 0;

        &__titres{
            
        }

    
    }
        &__titres{
            display : flex;
            flex: 1;
            align-items: center;
            margin-left: 10%;


            h1{
               
                margin-right: 1%;
                font-family: $font__header-h1;
                font-size: clamp(3rem, 5vw, 10rem);
            }
            h2{
                font-family: $font__header-h2;
                font-size: clamp( 1.5rem, 2vw, 6rem);
               
            }
        }
        
        &__util{
            margin: auto 10% ;
            
            .icone{
                padding-bottom: 20px;
            }
                
        
        }
        

}

.icone{
    display: flex;
   

 

    &__lien{
        margin: 0;
        padding: 1px;
    }

}

 /**** RECHERCHE ****/
.recherche{
    position: relative;
    
    
    &__input{
        
        
        height: 20px;
        color:black;
        
    }

    &__bouton{
        position: absolute;
        height: 20px;
        width: 29px;
    }
}




