.site__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (min-width: $largeur__media-tablette){
        flex-direction: row;
        margin-left: 0;


    
    }
        &__titres{
            display : flex;
            flex: 1;
            align-items: center;
            margin-left: 6%;
            
            a{
                display: flex;
                text-decoration: none;
                margin: 0 10px 0 0;
                padding: 0;
            }

            h1{
               
                margin-right: 1%;
                font-family: $font__header-h1;
                font-size: clamp(3rem, 4vw, 10rem);
            }
            h2{
                font-family: $font__header-h2;
                font-size: clamp( 1.5rem, 2vw, 6rem);
                animation-name: couleurTitre;
                animation-duration: 6s;
               animation-iteration-count: infinite;
               animation-timing-function: ease;
            }
        }
        
        &__util{
            margin: auto 6% ;
            
            
                
        
        }
        

}


   



@keyframes couleurTitre{
    0%   {color: black;}
  25%  {color: rgb(30, 43, 155);}
  50%  {color: rgb(236 ,116, 12);}
  100% {color: black;}
}





