

.erreur-404{
    background-color: $color__background-404;
    color: white;

    h1{
        border: solid yellow 2px;
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
    
}   
