

.site__footer{
    font-family: 'Oxygen', sans-serif;
    display: none;
    flex-direction: column;
    &__zone1{ // Première partie avec les infos générals et un message.
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        
        

        .infos{
        
            margin-right: 2%;

            li{
                list-style-type: none;
                padding-bottom: 1%;

            }
        }

          
        

    }
    

    @media screen and (min-width: $largeur__media-tablette){
        display: block;
        padding: 25px;
        display :flex;
        color: white;
        width: 100%;

    

        &__menu{ // Deuxième partie avec menu secondaire.
            &__ul{
                display: flex;
                list-style: none;
                justify-content: center;

                .menu-item{
                    margin: 10px 5px;
                    a{
                        display: flex;
                        align-items: center;
                        padding: 3px;
                        svg{
                            margin-left: 5px;
                            color: $color__link__footer;
                        }
                        &:visited{
                            svg{
                                color: $color__link__footer-visited;
                            }
                        }
                        &:hover{
                            svg{
                                color: $color__link__footer-hover;
                            }
                        }

                        
                    }
                }
            }
        }

            
        }

        

            
    
    }
 
    








