

.site__footer{

    display: none;

    @media screen and (min-width: $largeur__media-tablette){
        display: block;
        padding: 25px;
        display :flex;
        color: white;
        width: 100%;

        &__infos{
            flex-grow: 3;
            margin-right: 15px;

            li{
                list-style-type: none;
                margin-bottom: 3%;

            }
        }

        &__nav{
            flex-grow: 3;
            margin-right: 15px;
            li{
                list-style: none;
                svg{
                    color: $color__link__footer;
                    margin-left: 10px;
                }
            }
        }

        &__text{
            flex-grow: 1;
            margin-right: 15px;
        }

            
    
    }
 
    
}







