/**************************
*
* Gestion de l'affichage du contenu des cours et de la liste
*
***************************/



.site__main {
    display: flex;
    flex-wrap: wrap;
    background-color: $color__background-main;
    justify-content: space-evenly;
    row-gap: 20px;
    box-shadow: 0px 0px 10px 2px #000000;
    padding-bottom: 2%;
    h1{
        @include couleursTitresmain;
        margin: auto;
        padding: 4px;
        width: 100%;
        
    }

    p{
        margin-left: 15px;
        .thumbnail{
            width: 10%;
            height: 10%;
        }
    }
}
.main__titre {
    font-size: 2rem;
    font-style: italic;
    width: 100%;
    display: block;
    margin: 0 0 0 15px ;
    font-family: 'Oxygen', sans-serif;

}
.carte {
    
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px #000000;
    width: 100%;
    @media screen and (min-width: $largeur__media-tablette){
        width: 45%;
    
    }
    @media screen and (min-width: $largeur__media-desktop){
        width: 28%;
    }
    
    background-color: rgb(189, 189, 189);
    
}
.carte__titre {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 0;
    font-size: 1.5rem;
    @include couleursTitresmain;
    a{
        text-decoration: none;
        color: $color__link;
    }
}
.carte__contenu {
    font-size: 0.8rem;
    color: DimGrey;
}
