

#chk-burger{
    display: none;
}

#burger{
    display: block;
    position: absolute;
    left: 2%;
    transform: rotate(0deg);
    transition: transform .3s;
} 
#chk-burger:checked ~ #burger{
    transform: rotate(90deg);

}

#chk-burger:checked ~ .menu-principal-container{
    display: block;
}


.menu-principal-container {
    display: none;
    padding: 30px 0 0 0;
        .menu {
            list-style-type: none;
            padding: 0;
        }

        .menu-item {
            padding: 0px;
            margin: 0 0 10px 0;
            a {
                font-family: $font__navigation-a;
                padding: 5px;
                text-decoration: none;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                @include links($color__link__nav, $color__link__nav-hover, $color__link__nav-visited); //Mixin des couleur du nav
                &:hover{
                    background-color: $background_link-hover;
                    
                }

                svg{
                    margin-left: 5px;
                    color: $color__link__nav;
                }
                &:visited{
                    svg{
                        color: $color__link__nav-visited;
                    }
                }
                &:hover{
                    svg{
                        color: $color__link__nav-hover;
                    }
                }
            }
        }

}

@media screen and (min-width: $largeur__media-tablette){
    
    .site__barre{
    
        border: solid 3px black;
    }
    
    #burger{
        display: none;
    }
    
    .menu-principal-container{
        display: block;
    }


    .home .menu-principal-container{
        display: none;
    }

    .home #chk-burger{
        display: none !important;
    }
   

    .home #burger{
        display: block;
        position: absolute;
        left: 2%;
        transform: rotate(0deg);
        transition: transform .3s;
    } 

    .home #chk-burger:checked ~ #burger{
        transform: rotate(90deg);
    
    }

}


