.site__main-type2{
    display: flex;
    flex-direction: column;
    background-color: $color__background-main;
    row-gap: 20px;
    box-shadow: 0px 0px 10px 2px #000000;

    .titre{
        display: flex;
        align-items: center;
        column-gap: 33%;
        
        background-color: black;
        color: rgb(30, 43, 155);
        font-family: $font__header-h2;
        width: 100%;

        .bienvenu{
            
            margin-left: 1%;
            animation-name: bienvenu;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
    
        }

        .welcome{
            
            margin: 0;
            animation-name: welcome;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
    
        }

        .mandarin{
            
            margin: 0;
            animation-name: mandarin;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
    
        }

    }

    

    .page__standard{
        margin: 0 0 0 15px ;
        font-family: 'Oxygen', sans-serif;
    }

    &__content{
        margin: 0 0 0 15px;

    }
}

@keyframes bienvenu {
    0%{
        color: rgb(30, 43, 155);
    }

    20%{
        color: black;
    }
  
    40%{
        color: black;
    } 

    60%{
        color: black;
    }

    80%{
        color: black;
    }

    100%{
        color: black;
    }

    
}

@keyframes welcome {
    0%{
        color: black;
    }

    20%{
        color: black;
    }
  
    40%{
        color: rgb(30, 43, 155);
    } 

    60%{
        color: black;
    }

    80%{
        color: black;
    }

    100%{
        color: black;
    }

    
}

@keyframes mandarin {
    0%{
        color: black;
    }

    20%{
        color: black;
    }
  
    40%{
        color: black;
    } 

    60%{
        color: black;
    }

    80%{
        color: rgb(30, 43, 155);
    }

    100%{
        color: black;
    }

    
}