h1{
    font-family: $font__header-h1;
}

h2{
    font-family: $font__header-h2;
}

p{
    font-family: $font__main-content;
}

a{
   font-family: $font__navigation-a;
}

li{
    font-family: $font__liste;
}