/**************************
*
* Gestion des Mixins
*
***************************/

@mixin couleursTitresmain {
    background-color: rgb(0, 0, 0);
    color: rgb(30, 43, 155);
    font-family: $font__header-h2;


    
}